*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--el-font-family);
  color: var(--el-text-color-primary);
  background: var(--el-bg-color-page);
}

.page-wrap {
  overflow: hidden;
}
